SUPABASE_URL=
SUPABASE_SERVICE_ROLE_KEY=
COACHFORT_OTP_SECRET=
RESEND_API_KEY=
RESEND_WEBHOOK_SECRET=
COACHFORT_EMAIL_FROM=
COACHFORT_EMAIL_REPLY_TO=
COACHFORT_EMAIL_WORKER_SECRET=
CRON_SECRET=
COACHFORT_APP_URL=
REGRESSION_TEST_PASSWORD=
REGRESSION_INCLUDE_OPTIONAL_ACCOUNTS=
PLAYWRIGHT_BASE_URL=
COACHFORT_OWNER_EMAIL=
COACHFORT_ADMIN_EMAIL=
COACHFORT_STAFF_EMAIL=
COACHFORT_TRAINER_EMAIL=
COACHFORT_STUDENT_EMAIL=
COACHFORT_PLATFORM_OWNER_EMAIL=
COACHFORT_TEST_PASSWORD=
NEXT_PUBLIC_SENTRY_DSN=
SENTRY_DSN=
SENTRY_AUTH_TOKEN=
SENTRY_ORG=
SENTRY_PROJECT=
SENTRY_ENVIRONMENT=
NEXT_PUBLIC_APP_ENV=
NEXT_PUBLIC_VERCEL_GIT_COMMIT_SHA=
RAZORPAY_KEY_ID=
RAZORPAY_KEY_SECRET=
RAZORPAY_WEBHOOK_SECRET=
RAZORPAY_MODE=test
RAZORPAY_CHECKOUT_TEST_ENABLED=false
RAZORPAY_TEST_TENANT_IDS=
NEXT_PUBLIC_RAZORPAY_KEY_ID=
