SUPABASE_URL=
SUPABASE_SERVICE_ROLE_KEY=
COACHFORT_OTP_SECRET=
RESEND_API_KEY=
COACHFORT_EMAIL_FROM=
REGRESSION_TEST_PASSWORD=
REGRESSION_INCLUDE_OPTIONAL_ACCOUNTS=
PLAYWRIGHT_BASE_URL=
COACHFORT_OWNER_EMAIL=
COACHFORT_ADMIN_EMAIL=
COACHFORT_STAFF_EMAIL=
COACHFORT_TRAINER_EMAIL=
COACHFORT_STUDENT_EMAIL=
COACHFORT_PLATFORM_OWNER_EMAIL=
COACHFORT_TEST_PASSWORD=
